.container {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: rgba(231, 233, 235, 0.5);
    padding: 16px;
    border-radius: 1rem;
    text-align: left;
}

.cityName {
    display: block;
    font-weight: 600;
}

.countryFlag {
    height: 30px;
    margin-right: 16px;
}

.content {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}